# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp
*.swo
gpqa.py
train_loss_reasoning.png
theoretical_summary.md
scripts/long_handle.py
scripts/lnn_finetune.py
scripts/generate_text.py
scripts/cycling_utils/
scaling_law_curve.png
roadmap.txt
references.bib
quasar.tex
quasar.bib
push.py
PRIMEarxiv.sty
pq.py
pca_collapse_curve.png
parallel_upload_final copy.py
memory_similarity_curve.png
memory_retention_curve.png
memorization_curves.png
main.test.js
main.js
liquid_transformer.log
download_model.py
benchmark.py
arXiv-2507.18071v1/natbib.sty
arXiv-2507.18071v1/logo/qwen-logo.pdf
arXiv-2507.18071v1/logo/hf-logo.pdf
arXiv-2507.18071v1/logo/github-logo.pdf
arXiv-2507.18071v1/figs/routing_replay.pdf
arXiv-2507.18071v1/figs/results.pdf
arXiv-2507.18071v1/figs/clipping.pdf
arXiv-2507.18071v1/fancyhdr.sty
arXiv-2507.18071v1/colm2024_conference.tex
arXiv-2507.18071v1/colm2024_conference.sty
arXiv-2507.18071v1/colm2024_conference.bbl
arXiv-2507.18071v1/00README.json
alternatives_benchmark.png
scripts/long_handle.py
scripts/lnn_finetune.py
scripts/generate_text.py
parallel_upload_final copy.py
liquid_transformer.log
